In [1]:
import pandas as pd 
import numpy as np

In [3]:
data=pd.read_csv("dim_match_summary.csv")

In [5]:
data.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [7]:
data.shape

(45, 7)

In [11]:
data.info

<bound method DataFrame.info of            team1         team2        winner      margin     ground  \
0        Namibia     Sri Lanka       Namibia     55 runs    Geelong
1    Netherlands        U.A.E.   Netherlands   3 wickets    Geelong
2       Scotland   West Indies      Scotland     42 runs     Hobart
3        Ireland      Zimbabwe      Zimbabwe     31 runs     Hobart
4        Namibia   Netherlands   Netherlands   5 wickets    Geelong
5      Sri Lanka        U.A.E.     Sri Lanka     79 runs    Geelong
6        Ireland      Scotland       Ireland   6 wickets     Hobart
7    West Indies      Zimbabwe   West Indies     31 runs     Hobart
8    Netherlands     Sri Lanka     Sri Lanka     16 runs    Geelong
9        Namibia        U.A.E.        U.A.E.      7 runs    Geelong
10       Ireland   West Indies       Ireland   9 wickets     Hobart
11      Scotland      Zimbabwe      Zimbabwe   5 wickets     Hobart
12     Australia   New Zealand   New Zealand     89 runs     Sydney
13   Afghanistan       England       England   5 wickets      Perth
14       Ireland     Sri Lanka     Sri Lanka   9 wickets     Hobart
15         India      Pakistan         India   4 wickets  Melbourne
16    Bangladesh   Netherlands    Bangladesh      9 runs     Hobart
17  South Africa      Zimbabwe     no result         NaN     Hobart
18     Australia     Sri Lanka     Australia   7 wickets      Perth
19       England       Ireland       Ireland      5 runs  Melbourne
20   Afghanistan   New Zealand     abandoned         NaN  Melbourne
21    Bangladesh  South Africa  South Africa    104 runs     Sydney
22         India   Netherlands         India     56 runs     Sydney
23      Pakistan      Zimbabwe      Zimbabwe       1 run      Perth
24   Afghanistan       Ireland     abandoned         NaN  Melbourne
25     Australia       England     abandoned         NaN  Melbourne
26   New Zealand     Sri Lanka   New Zealand     65 runs     Sydney
27    Bangladesh      Zimbabwe    Bangladesh      3 runs   Brisbane
28   Netherlands      Pakistan      Pakistan   6 wickets      Perth
29         India  South Africa  South Africa   5 wickets      Perth
30     Australia       Ireland     Australia     42 runs   Brisbane
31   Afghanistan     Sri Lanka     Sri Lanka   6 wickets   Brisbane
32       England   New Zealand       England     20 runs   Brisbane
33   Netherlands      Zimbabwe   Netherlands   5 wickets   Adelaide
34    Bangladesh         India         India      5 runs   Adelaide
35      Pakistan  South Africa      Pakistan     33 runs     Sydney
36       Ireland   New Zealand   New Zealand     35 runs   Adelaide
37     Australia   Afghanistan     Australia      4 runs   Adelaide
38       England     Sri Lanka       England   4 wickets     Sydney
39   Netherlands  South Africa   Netherlands     13 runs   Adelaide
40    Bangladesh      Pakistan      Pakistan   5 wickets   Adelaide
41         India      Zimbabwe         India     71 runs  Melbourne
42   New Zealand      Pakistan      Pakistan   7 wickets     Sydney
43       England         India       England  10 wickets   Adelaide
44       England      Pakistan       England   5 wickets  Melbourne

       matchDate      match_id
0   Oct 16, 2022   T20I # 1823
1   Oct 16, 2022   T20I # 1825
2   Oct 17, 2022   T20I # 1826
3   Oct 17, 2022   T20I # 1828
4   Oct 18, 2022   T20I # 1830
5   Oct 18, 2022   T20I # 1832
6   Oct 19, 2022   T20I # 1833
7   Oct 19, 2022   T20I # 1834
8   Oct 20, 2022   T20I # 1835
9   Oct 20, 2022   T20I # 1836
10  Oct 21, 2022   T20I # 1837
11  Oct 21, 2022   T20I # 1838
12  Oct 22, 2022   T20I # 1839
13  Oct 22, 2022   T20I # 1840
14  Oct 23, 2022   T20I # 1841
15  Oct 23, 2022   T20I # 1842
16  Oct 24, 2022   T20I # 1843
17  Oct 24, 2022   T20I # 1844
18  Oct 25, 2022   T20I # 1845
19  Oct 26, 2022   T20I # 1846
20  Oct 26, 2022  T20I # 1846a
21  Oct 27, 2022   T20I # 1847
22  Oct 27, 2022   T20I # 1848
23  Oct 27, 2022   T20I # 1849
24  Oct 28, 2022  T20I # 1849a
25  Oct 28, 2022  T20I # 1849b
26  Oct 29, 2022   T20I # 1850
27  Oct 30, 2022   T20I # 1851
28  Oct 30, 2022   T20I # 1852
29  Oct 30, 2022   T20I # 1853
30  Oct 31, 2022   T20I # 1855
31   Nov 1, 2022   T20I # 1856
32   Nov 1, 2022   T20I # 1858
33   Nov 2, 2022   T20I # 1859
34   Nov 2, 2022   T20I # 1860
35   Nov 3, 2022   T20I # 1861
36   Nov 4, 2022   T20I # 1862
37   Nov 4, 2022   T20I # 1864
38   Nov 5, 2022   T20I # 1867
39   Nov 6, 2022   T20I # 1871
40   Nov 6, 2022   T20I # 1872
41   Nov 6, 2022   T20I # 1873
42   Nov 9, 2022   T20I # 1877
43  Nov 10, 2022   T20I # 1878
44  Nov 13, 2022   T20I # 1879  >

In [12]:
data_bat=pd.read_csv("fact_bating_summary.csv")

In [15]:
data_bat.head(15)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out,T20I # 1823
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out,T20I # 1823
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out,T20I # 1823
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out,T20I # 1823
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out,T20I # 1823